@font-face {
  font-family: LatoSemiBold;
  src: url(./fonts/Lato-SemiBold.ttf);
}

@font-face {
  font-family: LatoMedium;
  src: url(./fonts/Lato-Medium.ttf);
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-medium {
  font-family: "LatoMedium", sans-serif;
}

.lato-semi-bold {
  font-family: "LatoSemiBold", sans-serif;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.hamburger-menu-close {
  background-color: transparent;

  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.menu-is-closed {
  background-image: url("../img/closed-menu-icon.svg");
}

.menu-is-open {
  background-image: url("../img/opened-menu-icon.svg");
}

.app-container {
  margin: 0 auto;
  /* background-color: red; */
}

@media (min-width: 1729px) {
  .app-container {
    width: 1440px;
  }
}

.landing-analytics-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  .landing-analytics-image {
    background-position: left center;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .landing-analytics-image {
    background-position: top center;
  }
}

.open-nav-for-mobile {
  position: absolute;
  width: 100%;
  background-color: transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 82.5px;
  padding: 16px 20px 40px 20px;
  background-color: rgb(21, 21, 21, 0.3);
  backdrop-filter: blur(9px);
}

.open-nav-for-mobile::after {
  content: " ";
  width: 100%;
  height: 100%;

  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
}

.open-nav-for-mobile .nav-link-container a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1000;
}

.open-nav-for-mobile .nav-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.open-nav-for-mobile .nav-btn-container a {
  display: flex;
  width: 100% !important;
  max-width: unset;
  z-index: 1000;
}

@media (min-width: 640px) {
  .open-nav-for-mobile .nav-btn-container a {
    width: 217.79px !important;
  }
}
