@font-face {
  font-family: LatoSemiBold;
  src: url(./fonts/Lato-SemiBold.ttf);
}

@font-face {
  font-family: LatoMedium;
  src: url(./fonts/Lato-Medium.ttf);
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-medium {
  font-family: "LatoMedium", sans-serif;
}

.lato-semi-bold {
  font-family: "LatoSemiBold", sans-serif;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.hamburger-menu-close {
  background-color: transparent;

  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.menu-is-closed {
  background-image: url("../img/closed-menu-icon.svg");
}

.menu-is-open {
  background-image: url("../img/opened-menu-icon.svg");
}

.app-container {
  margin: 0 auto;
  /* background-color: red; */
}

@media (min-width: 1729px) {
  .app-container {
    width: 1440px;
  }
}

.landing-analytics-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  .landing-analytics-image {
    background-position: left center;
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .landing-analytics-image {
    background-position: top center;
  }
}

.open-nav-for-mobile {
  position: absolute;
  width: 100%;
  background-color: transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 82.5px;
  padding: 16px 20px 40px 20px;
  background-color: rgb(21, 21, 21, 0.3);
  backdrop-filter: blur(8px);
}

.open-nav-for-mobile::after {
  content: " ";
  width: 100%;
  height: 100%;

  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
}

.open-nav-for-mobile .nav-link-container a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1000;
}

.open-nav-for-mobile .nav-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.open-nav-for-mobile .nav-btn-container a {
  display: flex;
  width: 100% !important;
  max-width: unset;
  z-index: 1000;
}

@media (min-width: 640px) {
  .open-nav-for-mobile .nav-btn-container a {
    width: 217.79px !important;
  }
}

.password-field:focus {
  outline: none;
}

.blue-active-form-field:focus {
  border-color: #004ec1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.carousel-style-modifier
  .carousel__pagination
  .carousel__pagination-item
  button.carousel__pagination-button::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2a79ec;
}

.carousel-style-modifier
  .carousel__pagination
  .carousel__pagination-item:nth-child(2)
  button.carousel__pagination-button {
  margin-left: 16px;
  margin-right: 16px;
}

.carousel-style-modifier
  .carousel__pagination
  .carousel__pagination-item
  button.carousel__pagination-button--active::after {
  background-color: #fff;
}

.carousel-style-modifier .carousel__next,
.carousel-style-modifier .carousel__prev {
  display: block;
  top: unset;
  transform: unset;
  position: absolute;
  color: white;
}

.carousel-style-modifier .carousel__next:hover,
.carousel-style-modifier .carousel__prev:hover {
  color: white;
}

.carousel-style-modifier .carousel__next {
  right: 34%;
}

.carousel-style-modifier .carousel__prev {
  left: 34%;
}

.is-loading .button-text {
  display: none;
}

.button-spinner {
  display: none;
}

.is-loading .button-spinner {
  display: block;
  animation: button-rotate-animation 1s infinite linear;
}

@keyframes button-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.Toastify__toast-container {
  width: 100% !important;
}
/* Toastify__toast Toastify__toast-theme--light Toastify__toast--error */

.Toastify__toast-container
  .Toastify__toast
  .Toastify__toast-body
  .Toastify__toast-icon {
  display: none !important;
}

.Toastify__progress-bar {
  display: none;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast--error
  .Toastify__toast-body
  > div:last-child
  .toastHeader {
  color: #b42318 !important;
  font-size: 16px;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast--error
  .Toastify__toast-body
  > div:last-child
  .toastBody {
  color: #d92d20 !important;
  font-size: 16px;
}

/* success */
.Toastify__toast-container
  .Toastify__toast.Toastify__toast--success
  .Toastify__toast-body
  > div:last-child
  .toastHeader {
  color: #027a48 !important;
  font-size: 16px;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast--success
  .Toastify__toast-body
  > div:last-child
  .toastBody {
  color: #039855 !important;
  font-size: 16px;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: #fffbfa;
  border: 1px solid #fda29b;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast-theme--light.Toastify__toast--success {
  background-color: #f6fef9;
  border: 1px solid #6ce9a6;
}

/* info */
.Toastify__toast-container
  .Toastify__toast.Toastify__toast--info
  .Toastify__toast-body
  > div:last-child
  .toastHeader {
  color: #005ee8 !important;
  font-size: 16px;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast--info
  .Toastify__toast-body
  > div:last-child
  .toastBody {
  color: #2a79ec !important;
  font-size: 16px;
}

.Toastify__toast-container
  .Toastify__toast.Toastify__toast-theme--light.Toastify__toast--info {
  background-color: #f0f6ff;
  border: 1px solid #80aef3;
}

.Toastify__close-button > svg {
  fill: currentcolor;
  height: 24px;
  width: 22px;
}

.Toastify__toast-container {
  width: calc(100% - 0px) !important;
  margin: 0 auto;
  padding: 0 !important;
}

.Toastify__toast-container--top-right {
  right: 0 !important;
  top: 0 !important;
}

@media (min-width: 1024px) {
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-right {
    right: 1em !important;
    top: 1em !important;
  }
}

@media (min-width: 1024px) {
  .Toastify__toast-container {
    width: 500px !important;
  }
  .Toastify__toast-container--top-right {
    right: 1em;
    top: 1em;
  }
}

button {
  cursor: pointer;
}

.pricing-period .isActive {
  background-color: #101828;
  color: #ffffff;
}
.pricing-period .isActive:hover {
  background-color: #0d131f;
}

.quicklinks-nav {
  overflow: auto;
  white-space: nowrap;
}

.quicklinks-nav a {
  display: inline-block;
}

.quicklinks-nav::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .quicklinks-nav {
    overflow: unset;
    white-space: unset;
  }

  .quicklinks-nav a {
    display: block;
  }
}

.search-input {
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 18px;
}

.search-input::placeholder {
  padding-left: 24px;
}

.search-input:focus {
  background-image: unset;
}

.search-input:focus::placeholder {
  padding-left: 0px;
}

.card-border-radius {
  border-radius: 12px 12px 12px 0;
}

textarea::placeholder {
  color: #667085;
}

textarea {
  resize: none;
}

.box-shadow {
  box-shadow: 0px 32px 64px 0 rgba(52, 64, 84, 8%);
}

@media (min-width: 640px) {
  .md\:box-shadow {
    box-shadow: 0px 32px 64px 0 rgba(52, 64, 84, 8%);
  }
}

@media (min-width: 768px) {
  .lg\:box-shadow {
    box-shadow: 0px 32px 64px 0 rgba(52, 64, 84, 8%);
  }
}

@media (min-width: 1024px) {
  .xl\:box-shadow {
    box-shadow: 0px 32px 64px 0 rgba(52, 64, 84, 8%);
  }
}

@media (min-width: 1280px) {
  .\32xl\:box-shadow {
    box-shadow: 0px 32px 64px 0 rgba(52, 64, 84, 8%);
  }
}

@media (min-width: 1440px) {
  .\3xl\:box-shadow {
    box-shadow: 0px 32px 64px 0 rgba(52, 64, 84, 8%);
  }
}

.manage-modal-container-height::-webkit-scrollbar {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  width: 5px;
}

.manage-modal-container-height::-webkit-scrollbar-thumb {
  background-color: #eaecf0;
  border-radius: 20px;
}
